h1 {
  font-size: 3.125rem;
  color: rgb(146, 146, 146);
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.125rem;
  margin: 0;
  font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

.closeDisplay {
  color: rgb(146, 146, 146); 
  font-size: 2rem;
  font-weight: 500;
  line-height: 100%;
  font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  border-radius: 50%; 
  position: absolute;
  top: 2%;
  right: 2%;
  transition: transform 0.3s ease, color 0.3s ease; 
  cursor: pointer; 
  transform: scale(1); 
}

.closeDisplay:hover {
  transform: scale(1.3); 
  color: #ff4d4f; 
}


.closeInfoOverlay {
  color: #ff8a8c; 
  font-size: 3rem;
  font-weight: 500;
  line-height: 100%;
  font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  border-radius: 50%; 
  display: flex;
  margin-top: 2%;
  justify-content: center;
  transition: transform 0.3s ease, color 0.3s ease; 
  cursor: pointer; 
  transform: scale(1); 
}

.closeInfoOverlay:hover {
  transform: scale(1.3); 
  color: #ff4d4f; 
}

p {
  margin: 0;
  color: rgb(146, 146, 146);
}

main {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: inherit;
  background-color: #000000;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  justify-content: center;
  align-items: center;
  background-image: url("/assets/Apresentacao.png");
  background-size: cover;
  background-position: right;
  background-repeat: repeat;
  border-radius: 8px;
  clip-path: inset(50% 50% 50% 50%);
  animation: revealContent 1.5s ease-out forwards,
    backgroundMove 120s ease-in-out infinite;
}

.dontover {
  max-width: 100vw;
  max-height: 100vh;
  box-sizing: border-box; 
  overflow: hidden; 
}

#typing-effect {
  font-size: 3.2rem;
  padding: 10px; 
  color: rgb(146, 146, 146);
  font-weight: 500;
  white-space: nowrap; 
  overflow: hidden; 
  border-right: 2px solid rgb(146, 146, 146); 
  animation: blink 0.7s step-end infinite; 
  font-family: "Roboto Mono", serif;
}

.welcome-text,
.role-text {
  font-size: 2rem; 
  margin: 10px 0; 
  opacity: 0; 
  transform: translateY(20px); 
  transition: opacity 0.5s ease, transform 0.5s ease; 
}

.welcome-text {
  margin-left: 15px;
  opacity: 1; 
  transform: translateY(0); 
}

.role-text {
  opacity: 1; 
  transform: translateY(0); 
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem; 
}

.skills span,
.close {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.skills svg {
  width: 60px; 
  height: 60px; 
  fill: rgb(146, 146, 146); 
  margin-right: 15px; 
  transition: transform 0.3s ease, fill 0.3s ease;
}

.skills svg:hover {
  cursor: pointer;
  transform: scale(1.2); 
  fill: #007bff; 
}

.controlDisplay {
  align-self: center;
  justify-self: flex-end;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 5rem;
}

.controlDisplay span {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white;
  margin: 0 5px;
  cursor: pointer;
  opacity: 0.5; 
}

.controlDisplay span.active {
  background: white; 
  opacity: 1; 
}

.display1 {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  text-align: center; 
  margin: 20px; 
  padding: 20px; 
  color: rgb(146, 146, 146); 
}

.display2 {
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: 15px;
  h1 {
    font-size: 2.5rem;
    margin-bottom: 7px;
  }
  p {
    font-size: 1.5rem;
    margin-bottom: 3px;
  }
}

.display3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10%;
  h1 {
    margin-bottom: 23px;
  }
  p {
    margin-bottom: 3px;
    font-size: large;
  }
}

.display4 {
  position: fixed; 
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white; 
  transition: transform 1s ease-in-out, opacity 0.5s ease-in-out; 
  z-index: 999; 
  transform: translateY(100%); 
  opacity: 0; 
  visibility: hidden;
}

.displayContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  position: relative;
}

button:disabled {
  background-color: #b0c4de;
  cursor: not-allowed;
}

.display4.visible {
  opacity: 1; 
  visibility: visible; 
  transform: translateY(0); 
}

.display4.hidden {
  opacity: 0; 
  visibility: hidden; 
  transform: translateY(100%); 
}


.display4.hiding {
  opacity: 1; 
  visibility: visible;
  transform: translateY(100%); 
}


.display4.hiding {
  transform: translateY(100%); 
}

.links.skills .close {
  display: flex;
  align-items: center; 
  margin-top: 20px; 
}

.horizontalLine {
  flex-grow: 1; 
  height: 1px; 
  background-color: rgb(146, 146, 146); 
  margin: 0 10px; 
}

.links.skills span,
.close {
  font-size: 1rem; 
  margin: 20px 10px; 
  padding: 10px 20px; 
  cursor: pointer; 
  transition: color 0.3s, background-color 0.3s;
  background-color: rgba(
    255,
    255,
    255,
    0.1
  ); 
  border-radius: 5px; 
  display: inline-block; 
}

.links.skills span:hover,
.close:hover {
  background-color: rgba(255, 255, 255, 0.2); 
  color: #fff; 
}

.display1,
.display2,
.display3 {
  width: 60%;
  opacity: 0;
  visibility: hidden; 
  position: absolute;
  transition: opacity 1s ease, visibility 0s 1s; 
}

.display1.visible,
.display2.visible,
.display3.visible {
  width: 60%;
  opacity: 1;
  visibility: visible; 
  transition: opacity 1s ease, visibility 0s; 
}

@media (min-width: 1000px) {
  .display2,
  .display2.visible {
    max-width: 60%;
  }

  .display3 .display3.visible {
    max-width: 40%;
  }
}

@media (max-width: 720px) {
  .skills svg {
    width: 50px; 
    height: 50px; 
  }

  .display1,
  .display2,
  .display3 {
    width: 80%; 
  }

  .display1.visible,
  .display2.visible,
  .display3.visible {
    width: 80%; 
  }
}

@media (max-width: 525px) {
  .skills svg {
    width: 40px; 
    height: 40px; 
  }

  .display1,
  .display2,
  .display3,
  .display4 {
    width: 100%; 
  }

  .display1.visible,
  .display2.visible,
  .display3.visible .display4.visible .display4.hiding {
    width: 100%; 
  }

  .display2,
  .display2.visible {
    padding: 15px;
  }
}

@media (max-width: 430px) {
  .skills svg {
    width: 35px; 
    height: 35px; 
  }

  .display1,
  .display2,
  .display3,
  .display4 {
    width: 100%; 
    h1 {
      font-size: 2.5rem;
    }
    p {
      font-size: 1.5rem;
    }
    #typing-effect {
      font-size: 2.5rem;
    }
  }

  .display1.visible,
  .display2.visible,
  .display3.visible .display4.visible .display4.hiding {
    width: 100%; /* Aumenta o width para 80% quando visível */
    h1 {
      font-size: 2.5rem;
    }
    p {
      font-size: 1.5rem;
    }
    #typing-effect {
      font-size: 2.5rem;
    }
  }

  .links.skills span,
  .close {
    font-size: 0.875rem; /* Reduz o tamanho da fonte */
    padding: 8px 16px; /* Reduz o padding */
  }

  .display2,
  .display2.visible {
    h1 {
      font-size: 2.2rem;
    }
    p {
      font-size: 1.2rem;
    }
  }
}

@media (max-width: 360px) {
  .display1,
  .display2,
  .display3,
  .display4 {
    width: 100%; 
    h1 {
      font-size: 2.5rem;
    }
    p {
      font-size: 1.5rem;
    }
    #typing-effect {
      font-size: 2.2rem;
    }
  }

  .display1.visible,
  .display2.visible,
  .display3.visible .display4.visible .display4.hiding {
    width: 100%; 
    h1 {
      font-size: 2.5rem;
    }
    p {
      font-size: 1.5rem;
    }
    #typing-effect {
      font-size: 2.2rem;
    }
  }

  .links.skills span,
  .close {
    font-size: 0.695rem; 
    padding: 6px 14px; 
  }

  .display2,
  .display2.visible {
    h1 {
      font-size: 2rem;
    }
    p {
      font-size: 1rem;
    }
  }
}

.example-spacer {
  flex: 1 1 auto;
}

.waving-hand {
  display: inline-block;
  animation: wave 2s infinite;
  transform-origin: 70% 70%;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } 
  100% {
    transform: rotate(0deg);
  }
}

@keyframes blink {
  50% {
    border-color: transparent; 
  }
}

@keyframes expandBox {
  0% {
    transform: scale(0); 
  }
  50% {
    transform: scale(0.5); 
  }
  100% {
    transform: scale(1); 
  }
}

@keyframes revealContent {
  0% {
    clip-path: inset(
      50% 50% 50% 50%
    ); 
  }
  100% {
    clip-path: inset(
      0% 0% 0% 0%
    ); 
  }
}

@mixin white-gradient {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

$animationSpeed: 40s;


@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}


.slider {
  background: white;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 960px;

  &::before,
  &::after {
    @include white-gradient;
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }

  &::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  &::before {
    left: 0;
    top: 0;
  }

  .slide-track {
    animation: scroll $animationSpeed linear infinite;
    display: flex;
    width: calc(250px * 14);
  }

  .slide {
    height: 100px;
    width: 500px;
  }
}

.skills .angular-icon:hover {
  cursor: pointer;
  transform: scale(1.2); 
  fill: #DD0031; 
}

.skills .nestjs-icon:hover {
  cursor: pointer;
  transform: scale(1.2); 
  fill: #E0234E; 
}

.skills .typescript-icon:hover {
  cursor: pointer;
  transform: scale(1.2); 
  fill: #3178C6; 
}

.skills .javascript-icon:hover {
  cursor: pointer;
  transform: scale(1.2); 
  fill: #F7DF1E; 
}

.skills .html-icon:hover {
  cursor: pointer;
  transform: scale(1.2); 
  fill: #E34F26; 
}

.skills .css-icon:hover {
  cursor: pointer;
  transform: scale(1.2); 
  fill: #1572B6; 
}

.skills .express-icon:hover {
  cursor: pointer;
  transform: scale(1.2); 
  fill: url(#gradient); 
}

.skills .sql-icon:hover {
  cursor: pointer;
  transform: scale(1.2); 
  fill: #00618A; 
}

.skills .nosql-icon:hover {
  cursor: pointer;
  transform: scale(1.2); 
  fill: #3EAF7C; 
}


.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 500px;
  perspective: 1000px; 
}

.carousel-item {
  position: absolute;
  width: 300px;
  height: 400px;
  margin-top: 20px;
  transition: transform 0.8s ease, opacity 0.8s ease,  width 0.3s ease, height 0.3s ease;
  transform-style: preserve-3d;
  opacity: 0.5; 
  cursor: pointer;
}

.carousel-item img {
  border-radius: 10px;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.8s ease, box-shadow 0.8s ease;
}

.carousel-item.center {
  transform: translateZ(200px); 
  opacity: 1; 
  z-index: 3; 
  span {
    font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
  }
}

.carousel-item.left {
  transform: translateX(-300px) rotateY(30deg) translateZ(-100px); 
  z-index: 2; 
}

.carousel-item.right {
  transform: translateX(300px) rotateY(-30deg) translateZ(-100px); 
  z-index: 2; 
}

.carousel-item.hidden {
  transform: translateZ(-500px); 
  opacity: 0; 
  pointer-events: none; 
}

.carousel-item:hover img {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}

.hover-indicator {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  z-index: 2;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  background: rgba(0, 0, 0, 0.5); 
  padding: 0; 
  border-radius: 10px; 
  transition: transform 0.5s ease, opacity 0.8s ease;
  opacity: 0;
}

.hover-indicator:hover {
  opacity: 1;
  transform: scale(1.05);
}

.carousel-item:hover .hover-indicator {
  display: flex;
}

.indicatorLeft {
  width: 20px;
  height: 20px;
  background-color: white;
  clip-path: polygon(50% 0%, 100% 100%, 0% 100%); 
  transform: rotate(270deg);
  transition: transform 0.3s ease;
}

.indicatorRight {
  width: 20px;
  height: 20px;
  background-color: white;
  clip-path: polygon(50% 0%, 100% 100%, 0% 100%); 
  transform: rotate(90deg);
  transition: transform 0.3s ease;
}

@media (max-width: 710px) {
  .indicatorLeft {
    transform: rotate(0deg); 
  }

  .indicatorRight {
    transform: rotate(180deg); 
  }


  .carousel {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%; 
    perspective: 1200px; 
    overflow: hidden;
  }

  .carousel-item {
    width: 75%;
    height: 300px;
    transform-origin: center center;
    transition: transform 0.8s ease, opacity 0.8s ease, width 0.3s ease, height 0.3s ease;
  }

  .carousel-item.center {
    transform: translateZ(200px) translateY(0);
    opacity: 1;
    z-index: 3;
  }

  .carousel-item.left {
    transform: translateY(-300px) rotateX(30deg) translateZ(-100px);
    z-index: 2;
  }

  .carousel-item.right {
    transform: translateY(300px) rotateX(-30deg) translateZ(-100px);
    z-index: 2;
  }

  .carousel-item.hidden {
    transform: translateZ(-500px);
    opacity: 0;
    pointer-events: none;
  }

  .carousel-item img {
    width: 100%;
    height: 100%;
  }
}


.openInfo {
  position: fixed; 
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white; 
  transition: transform 1s ease-in-out, opacity 0.5s ease-in-out; 
  z-index: 2000; 
  transform: translateY(100%); 
  opacity: 0; 
  visibility: hidden;
}

.openInfo.visible {
  opacity: 1; 
  visibility: visible; 
  transform: translateY(0); 
}

.openInfo.hidden {
  opacity: 0; 
  visibility: hidden; 
  transform: translateY(100%); 
}

.openInfo.hiding {
  opacity: 1; 
  visibility: visible;
  transform: translateY(100%); 
}