/* You can add global styles to this file, and also import other style files */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overscroll-behavior-y: auto; /* Evita pull-to-refresh */
}

main {
    height: 100%;
}

  ::ng-deep {
    @keyframes backgroundMove {
    0% {
       background-position: 0% center;
    }
    50% {
       background-position: 100% center;
    }
    100% {
       background-position: 0% center;
    }
 }}