/* You can add global styles to this file, and also import other style files */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    
}

main {
    height: 100%;
}

@keyframes backgroundMove {
    0% {
      background-position: 0% center; /* Posição inicial */
    }
    50% {
      background-position: 100% center; /* Posição intermediária */
    }
    100% {
      background-position: 0% center; /* Retorna à posição inicial */
    }
  }